*{
    margin: 0;
    padding: 0;
}
html{
    font-size: 10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#main{
    min-height: 96vh;
    display: grid;
    grid-template-areas: 
        'glc  map weath'
        'list map tbl'
        'list map tbl'
        'list map graph'
        'f f f'
    ;
    gap: 1rem;
    background-color: #000;
    padding: 2vh;
    color: #fff;

}
#main section{
    background-color: #333;
    border-radius: 1rem;
}
#head{
    grid-area: head;
    font-size: 3rem;
    text-align: center;
    font-weight: 900;
}
#global-cases{
    grid-area: glc;
    width: 100%;
    color:rgb(223, 60, 60);
    font-size: 2.8rem;
    font-weight: 700;
    text-shadow: 1px 1px 2px black, 0 0 1px black;
    text-align: center;
    cursor: pointer;
    align-items: center;
}
#weather {
    grid-area: weath;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#weather .city {
    width: 100%;
    font-size: 2rem;
    text-transform: uppercase; 
    text-align: center;
}

#weather .temp-block {
    display: flex;
    align-items: center;
}

#weather .temp-block .icon {
    width: 3rem;
    height: 3rem;
}
#weather .temp-block  .icon img {
    width: 100%;
}


#weather .city-info,
#weather .temp-block .temp,
#weather .humidity,
#weather .wind {
    font-size: 1.2rem;
    border-radius: 8px;
    color: #fff;
    text-transform: uppercase;
}
#map-section {
    min-width: 60vw;
    grid-area: map;
}
#map{
    min-width: 60vw;
    height: 95%;
    color: #666;
}
.map-navigation{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 5%;
}
.popup {
    display: none;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: #222;
    right: 0;
    bottom: 0;
    padding: 0 2rem;
    border-radius: 1rem;
    height: 100%;
    z-index: 5;
}
.popup-country {
    font-weight: 700;
    font-size: 2rem;
    margin-right: 2rem;
}
.popup-content {
    font-size: 1.5rem;
}
.buttonList {
    display: flex;
    margin-left: 1rem;
    z-index: 5;
}
.buttonList>.map-button {
    background: rgb(38, 38, 38);
    color: #fff;
    font-size: 1.5rem;
    border: none;
    outline: none;
    margin: 1rem;
}
.buttonList>.map-button:hover {
    background: rgb(67, 67, 67);
}
#table{
    grid-area: tbl;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
#table header{
    font-weight: 500;
    font-size: 5rem;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}
#table th {
    font-weight: 500;
    font-size: 3rem;
    text-align: center;
}
#table td {
    font-weight: 600;
    font-size: 3rem;
    text-align: center;
}

#table td.cases{
    text-shadow: 1px 1px 1px black, 0 0 1px black;
}
#table td.deaths{
    color: red;
    text-shadow: 1px 1px 1px black, 0 0 1px black;
}
#table td.rec{
    color: rgb(5, 223, 5);
    text-shadow: 1px 1px 1px black, 0 0 1px black;
}
#table .settings{
    display: flex;
    justify-content: space-evenly;
}
#table .settings .switch{
    cursor: pointer;
    transition: all 0.5s;
    display: flex;
    background-color: #555;
    align-items: center;
    border-radius: 2rem;
    padding: .5rem;
    width: 10rem;
    height: 2rem;
}
#table .settings .switch .circle{
    transition: all 0.3s;
    width: 2rem;
    height: 2rem;
    background-color: #fff;
    border-radius: 1rem;
}
#table .settings .switch .circle.on{
    background-color: #333;
}
#table .settings .switch p{
    transition: all 0.3s;
    width: 0;
    user-select: none;
    font-size: 1.3rem;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    font-size: 1.7rem;
}
#table .settings .switch p.on{
    width: 8rem;
}
#list{
    min-width: 13vw;
    grid-area: list;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#list input {
    border-radius: 1rem;
    border: 1px solid #ddd;
    outline: none;
    padding: 1rem;
    width: 90%;
    margin: 0 auto;
}
#list input.fail {
    border: 3px solid red;
}
.gray {
    color: gray;
}
#list p {
    font-weight: 500;
    font-size: 2.5rem;
    text-align: center;
}

#list table {
    margin: 0 auto;
}

#list th {
    font-weight: 500;
    font-size: 1.8rem;
    text-align: center;
    padding: 0.5rem;
}

#list td {
    min-width: 1rem;
    font-weight: 600;
    font-size: 1.5rem;
    text-align: center;
    padding: 0.5rem;
    border-bottom: 1px solid #d6d6d6;
    text-shadow: 1px 1px 1px black, 0 0 1px black;
}
#list td.deaths{
    color: red;
    text-shadow: 1px 1px 1px black, 0 0 1px black;
}

#list td.rec{
    color: rgb(5, 223, 5);
    text-shadow: 1px 1px 1px black, 0 0 1px black;
}

#list td.cases{
    text-shadow: 1px 1px 1px black, 0 0 1px black;
}

#list .target-country {
    cursor: pointer;
}
#list .target-country:hover {
    background-color: rgb(51, 51, 51, 0.3);
    border-bottom: 1px solid grey;
}

#list .slider {
    display: flex;
    flex-direction: column;
}


#list .slide::-webkit-scrollbar,
#list .autocomplete-items::-webkit-scrollbar {
    width: 12px;
}
 
#list .slide::-webkit-scrollbar-track,
#list .autocomplete-items::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
 
#list .slide::-webkit-scrollbar-thumb,
#list .autocomplete-items::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
#list .slides-wrapper{    
    max-height: 58vh;
}
#list .slides-wrapper .slide {
    overflow-y: scroll;
    max-height: 98%;
    margin: 1rem auto;
    transition: 2s ease-in-out;
}

#list .autocomplete {
    position: relative;
}

#list .autocomplete .search-button {
    width: 3rem;
    height: 3rem;
    position: absolute;
    top: .2rem;
    right: 3rem;
    background-color:#fff;
    color: #fff;
    cursor: pointer;
    border:none;
    outline: none;
}

#list .autocomplete .keyboard-show svg,
#list .autocomplete .search-button {
    fill: gray;
}

#list .autocomplete .keyboard-show {
    width: 3rem;
    height: 3rem;
    position: absolute;
    top: .2rem;
    right: 0rem;
    background-color: #fff;
    cursor: pointer;
    border:none;
    outline: none;
}

#list .autocomplete-items {
    font-size: 1.6rem;
    background-color: gray;
    cursor: pointer;
    overflow-y: scroll;
    max-height: 30rem;
    position: absolute;
}
#list .autocomplete-items div {
    padding: 5px;
    border: 1px solid #fff;
    min-width: 15rem;
}

#list .navigation {
    display: flex;
    justify-content: space-between;
    align-items:center;
}

#list .arrow-left,
#list .arrow-right {
    color: #000;
    background-color: transparent;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    border: none;
    outline: none;
    cursor: pointer;
}

#list .arrow-left:hover,
#list .arrow-right:hover {
    background-color: gray;
}

#list .number {
    display: flex;
    font-size: 1.5rem;
}


#graph{
    padding: .5rem;
    max-height: 500px;
    grid-area: graph;
}
#graph canvas{
    margin: 1rem auto 0;
    background-color: #ddd;
    height: 80px;
}
#graph .slider-wrapper{
    user-select: none;
    overflow: hidden;
    position: relative;
    width: 80%;
    height: 3rem;
    background-color: #555;
    margin: 1rem auto;
    border-radius: 1rem;
}
#graph .slider-front{
    z-index: 1;
    background: transparent;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.3rem;
}
#graph .slider-front div{
    cursor: pointer;
    z-index: 1;
    background: transparent;
    width: 33%;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
#graph .slider-front div:hover{
    background-color: rgba(10, 10, 10, 0.3);
}
#graph .slider-bg{
    transition: all 1s;
    position: absolute;
    z-index: 0;
    background-color:#222;
    width: 100%;
    height: 100%;
    display: flex;    
}
#graph .slider-bg .slider-head{
    transition: all 1s;
    width: 33%;
    height: 100%;
    background-color: #444;
}
#graph .slider-bg.recovered{
    justify-content: flex-end;
}
#graph .slider-bg.deaths{
    justify-content: center;
}

footer {
    grid-area: f;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .logo-rss {
    width: 7.4rem;
    height: 3.1rem;
    background-color: #fff;
}
footer .logo-rss  img{
    width: 100%;
}
footer h2 {
    font-size: 3rem;
}
footer .author {
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    color: #ffffff;
    text-decoration: none;
}
footer .author a {
    font-size: 1.5rem;
    color: #ffffff;
    text-decoration: none;
}

/* keyboard */
.wrapper {
    z-index: 1000000000000000000;
    width: 90rem;
    height: 60rem;
    margin: 2rem auto;
    transition: 2s ease;
    position: absolute;
    top: 31%;
    left: 0;
}

.wrapper-hidden {
    margin-left: -150%;
    transition: 2s ease;
}

.keyboard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
    width: 94%;
    padding: 3%;
    height: 30rem;
    border-radius: 3rem;
    background-color: rgb(218, 216, 216);
}

.key-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 4.5rem;
}


.key {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4.5rem;
    width: 4.5rem;
    margin: 3px;
    border-radius: .4rem;
    border: none;
    font-size: 1.5rem;
    color: #ffffff;
    background: rgb(0, 0, 0, 0.75);
    outline: none;
    cursor: pointer;
}

.wide {
    width: 10rem;
    width: 11.5%;
}

.extra-wide {
    width: 74%;
}

.shift-left {
    width: 16rem;
    width: 18.5%;
}

.key-activable::after {
    content: '';
    top: 1rem;
    right: 1rem;
    position: absolute;
    width: .8rem;
    height: .8rem;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 50%;
}
  
.key-active::after {
    background: #08ff00;
}


.active {
    background-color: rgb(34, 160, 177);
    border-radius: 1.5rem;
    transition: all 100ms linear;
}



@media screen and (max-width: 900px) {
    .wrapper {
        max-width: 90rem;
        width: 90%;
        max-height: 50rem;
        height: 60%;
    }
    .keyboard-img {
        width: 15%;
        height: 15%;
    }
}
@media screen and (max-width: 1400px) {
    html{
        font-size: 7px;
    }
   
}
@media screen and (max-width: 1024px) {
    html{
        font-size: 6px;
    }
    #main{
        grid-template-areas: 
            'glc  weath '
            'list map '
            'tbl  graph'
            'f f'
        ;
    }
    #list .slides-wrapper{    
        overflow-y: scroll;
    }
}